<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sunt sed iste, autem id consectetur quo voluptatibus maiores rerum voluptas. Consequuntur aperiam ea rem vel illum minus, excepturi temporibus consectetur!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus nostrum impedit inventore adipisci dignissimos. Doloremque ipsa expedita non at fugit quidem. Beatae obcaecati sit alias repellat culpa accusantium tenetur quod?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio consectetur aperiam magnam nemo, odit praesentium nisi maiores modi eius libero. Dolorum quaerat sed quas veniam, quidem laudantium ipsum corrupti reiciendis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dignissimos illum, velit iusto explicabo voluptas rem unde quos voluptates nam similique, veniam quasi sequi hic commodi doloremque perspiciatis tempore aliquid!
    </p>

    <div class="follow text-center">
        <h4>Fallow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">X</a>
    </div>
</section>